/* Styling Below */

.productBox {
    border: 2px solid var(--background);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.productBox::after {
    content: "";
    position: absolute;
    left: -2px;
    bottom: -1px;
    width: 5px;
    height: 35%;
    background-color: var(--secondary);
}

.ribbon {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 2px;
    padding-left: 8px;
    position: absolute;
    top: 5px;
    left: -2px;
    width: 70px;
    height: 18px;
    background: #0097b2;
    font-size: 0.6rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.ribbon::after {
    content: "";
    position: absolute;
    top: 0;
    right: -27.5%;
    transform: rotate(180deg);
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 10px solid #0097b2;
    width: 20px;
    height: 18px;
}

.productImg {
    padding: 0.5rem 1rem;
    width: 100%;
}

.productImg img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.productDetails {
    display: flex;
    padding: 0rem 0.5rem 0.5rem 0.8rem;
    flex-direction: column;
    text-align: left;
}

.productPrice {
    font-weight: bold;
    font-size: 1.2rem;
    color: #000;
    margin-top: 0.5rem;
}

.productTitle {
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    text-transform: capitalize;
}


.productDesc {
    font-size: 0.8rem;
    text-align: justify;
    color: #959C9E;
    line-height: 15px;
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
}

@media (max-width:450px) {
    .productImg img {
        height: 110px;
    }

    .productTitle {
        font-size: 12px;
    }
    .productDesc{
        display: none;
    }

}
.date{
    font-size: 0.5rem;
    color: lightslategray;
    text-align: right;
    position: absolute;
    right: 2%;
    bottom: 1%;
}
.wishlistBox{
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    border-radius: 50%;
    padding: 5px;
    background: lightblue;
    cursor: pointer;
}