/* Styling Below */

.section {
    width: 80%;
    margin: 2rem auto;
    background: #fff;
    padding: 1rem;
}

.section h4 {
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
}

.productList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.section hr {
    border-color: rgb(60, 60, 60);
}

@media (max-width: 450px){
    .section{
        width: 90%;
    }
.productList {
    grid-template-columns: 0.8fr;
    justify-content: center;
}

}